# Configuration de la base de données
DB_HOST=db# Nom du service Docker (ne pas changer)
DB_USER=user        
DB_PASSWORD=password
DB_NAME=appdb       
DB_PORT=5432    

# Configuration de l'API
PORT=3000        
